.checkbox {
    display: flex;
    align-items: center;
    gap: 1ch;
}

.checkbox > label {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}

.checkbox > input {
    display: grid;
    place-content: center;
    appearance: none;
    cursor: pointer;
    width: calc(var(--size) * 0.125rem);
    height: calc(var(--size) * 0.125rem);
    border: 0.125rem solid var(--color-main);
    border-radius: 0.125rem;
    box-sizing: border-box;
    margin: 0;
}

.checkbox > input::before {
    content: "";
    width: calc(var(--size) * 0.125rem - 0.5rem);
    height: calc(var(--size) * 0.125rem - 0.5rem);
    background: var(--color-main);
    transform: scale(0);
    transition: 100ms transform ease-in-out;
}

.checkbox > input:checked::before {
    transform: scale(1);
}