#tab0.active {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    flex-wrap: wrap;
}

.bv0 {
    display: flex;
    flex-direction: column;
    flex: 3 1 0;
    min-height: 12rem;
}

.bv0 .checkbox > input {
    --size: 12;
}

.bv0 > div:first-child {
    display: flex;
    gap: 4rem;
    padding: 1rem 1rem 2rem 1rem;
    overflow: auto;
}

#bv-categories {
    overflow-y: auto;
}

.category {
    display: none;
    gap: 1rem;
    padding: 1rem;
}

.category.active {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.bv1 {
    display: flex;
    flex-direction: column;
    flex: 2 1 0;
}

.bv1-title {
    display: inline-block;
    width: 16rem;
    font-size: 1.75rem;
    font-weight: bold
}

.bv1 .checkbox {
    padding-top: 0.125rem;
    padding-right: 0.5rem;
    float: left;
    align-content: top;
}

.bv1 .number-input {
    float: right;
    padding-left: 0.5rem;
}

.bv1 .checkbox > input {
    --size: 12;
}

.bv1 .checkbox > label {
    display: inline-block;
    min-width: 7rem;
    font-size: 1.5rem;
}

.bv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 3 1 0;
}

.bv2 > img {
    max-width: 16rem;
    max-height: 16rem;
}

.bv0.disabled > #bv-categories > *, .bv1.disabled > #bv-diffs > *, .bv2.disabled > *{
    opacity: 50%;
    pointer-events: none;
}