#tab-basic.active {
    display: flex;
}

.bv-left {
    position: relative;
    flex: 2 3 0;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
}

.bv.disabled {
    opacity: 50%;
}

.bv.disabled > * {
    pointer-events: none;
}

.category {
    position: relative;
    display: none;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
}

.category.active {
    display: flex;
}

.category .checkbox > input {
    --size: 12;
}

.bv-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 3 2 0;
}

.bv-right > img {
    width: 16rem;
    height: 16rem;
}