#tab0 {
    display: flex;
}

.bv.disabled * {
    opacity: 50%;
    pointer-events: none;
}

.bv1 {
    flex: 2 1 0;
}

.bv0 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1 2 0;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: scroll;
}

.bv0 .checkbox > input {
    --size: 12;
}