.bottom-bar {
    user-select: text;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 720px) {
    .bottom-bar {
        flex-direction: column;
    }
    .bb1 {
        padding-top: 0.25rem;
    }
}

.bb span {
    opacity: 50%;
}

.bb1 {
    display: flex;
    gap: 1ch;
}