#tab2.active {
    display: flex;
}

.dv.disabled * {
    opacity: 50%;
    pointer-events: none;
}

.dv {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 1 1 0;
    flex-wrap: wrap;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
}

.dv-box {
    display: flex;
    flex-direction: column;
    flex: 0 1 12%;
    min-width: 10rem;
    padding: 1rem;
    border: 0.25rem solid #FFFFFF;
    border-radius: 0.25rem;
}

.dv-box-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
}

.dv-box-subtitle {
    font-weight: bold;
    padding-top: 1rem;
}