#tab2.active {
    display: block;
    overflow-y: auto;
}

.dv.disabled * {
    opacity: 50%;
    pointer-events: none;
}

.dv-root {
    width: 100%;
    user-select: text;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 1 1 0;
    flex-wrap: wrap;
    padding: 1rem;
    box-sizing: border-box;
}

.dv-box {
    display: flex;
    flex-direction: column;
    flex: 0 1 12%;
    min-width: 10rem;
    padding: 1rem;
    border: 0.25rem solid currentColor;
    border-radius: 0.25rem;
}

.dv-box-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
}

.dv-warning {
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    color: #C00;
}

.dv-box-subtitle {
    font-weight: bold;
    padding-top: 1rem;
}

.dv-box-content {
    display: inline-block;
    margin-left: 0.5rem;
}

.dv-utils {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding-left: 1rem;
    background: var(--color-bg);
}

.dv-utils > button {
    --size: 0.625;
}

.dv-box > button{
    margin-top: 0.5rem;
    --size: 0.375;
}

.dv-report {
    margin-top: 1rem;
}

.dv-report > label {
    margin-top: 0;
    font-size: 0.875rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5rem;
}

.dv-report > button {
    float: right;
    vertical-align: middle;
    --size: 0.375;
}