#tab2.active {
    display: flex;
}

.dv.disabled * {
    opacity: 50%;
    pointer-events: none;
}

.dv {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 1 1 0;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: scroll;
}

.dv-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 1rem;
    border: 0.25rem solid #FFFFFF;
    border-radius: 0.25rem;
}