#tab-json.active {
    display: block;
}

.jv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
}

.jv.disabled * {
    opacity: 50%;
    pointer-events: none;
}

.jv-buttons {
    display: flex;
    gap: 1rem;
    width: 100%;
    background: var(--color-bg);
}

.jv-buttons > button {
    --size: 0.75;
}

#json-editor {
    position: relative;
    flex: 1 1 auto;
    box-sizing: border-box;
}

#json-editor.disabled {
    opacity: 50%;
    pointer-events: none;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1rem;
}