#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(var(--color-bg-values), 90%);
    pointer-events: none;
    opacity: 0;
    z-index: 10;
    transition: opacity 250ms ease-in-out;
}

#loading-screen.active {
    pointer-events: all;
    opacity: 100%;
}

.loading-icon {
    width: 1.5rem;
    height: 1.5rem;
    --webkit-mask-image: url(../assets/icons/loading.svg);
    mask-image: url(../assets/icons/loading.svg);
    --webkit-mask-size: 1.5rem;
    mask-size: 1.5rem;
    background: var(--color-main);
    animation: loading 1s linear infinite;
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}

#loading-message {
    padding-left: 1ch;
    font-size: 1.25rem;
    font-weight: bold;
}