:root {
    --color-bg: rgb(16, 16, 16);
    --color-bg-values: 16, 16, 16;
    --color-main: rgb(255, 255, 255);
    --color-main-values: 255, 255, 255;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

* {
    font-family: inherit;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    color: var(--color-main);
    background: var(--color-bg);
}

a {
    color: inherit;
}

button {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.hint {
    display: inline-block;
    text-align: center;
    font-size: 0.5em;
    border: 2px solid var(--color-main);
    border-radius: 100px;
    width: 1em;
}