#popup-background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(var(--color-bg-values), 90%);
    pointer-events: none;
    opacity: 0;
    z-index: 10;
    transition: opacity 250ms ease-in-out;
}


#popup-background.active {
    pointer-events: all;
    opacity: 100%;
}

#popup-container.inactive, #popup-merge-container.inactive {
    pointer-events: none;
    display: none;
}

#popup-container, #popup-merge-container {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    max-height: 80vh;
    padding: 2rem;
    align-items: center;
    background-color: var(--color-bg);
    border: 2px solid var(--color-main);
    border-radius: 0.5rem;
    overflow-y: auto;
    overflow-x: auto;
}

#popup-title {
    font-weight: bold;
    font-size: 1.5rem;
}

#popup-content {
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: center;
    overflow-x: hidden;
}

#popup-answer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.popup-button{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.small {
    font-size: 0.75rem;
}

#popup-result {
    display: none;
}

#popup-remember { 
    margin-top: 0.5rem;
    padding: 0.5rem;
}

#merge-checkbox-container {
    height: 28rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    column-gap: 4rem;
}

@media screen and (min-width: 820px) {
    #popup-merge-container {
        min-width: 32rem;
    }
}

@media screen and (max-width: 820px) {
    #merge-checkbox-container {
        column-gap: 1rem;
    }
}

@media screen and (max-width: 400px) {
    #merge-checkbox-container {
        align-content: start;
        align-self: start;
    }
}

@media screen and (max-height: 700px) {
    #popup-container, #popup-merge-container {
        position: absolute;
        top: 0px;
    }
}

#merge-title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

#merge-subtitle {
    display: inline-block;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    margin-left: 0.3em;
    color: rgba(var(--color-main-values), 70%);
}

.merge-faded {
    color: rgba(var(--color-main-values), 50%);
}

input.merge-faded, .merge-faded input  {
    opacity: 50%;
}

.merge-buttons {
    display: block;
}

.merge-1 {
    min-width: 12rem;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-left: 1rem;
    height: 5.5rem;
}

.merge-2 {
    font-size: 1rem;
    margin-left: 1rem;
}

.merge-label {
    display: inline-block;
    width: calc(4em + 2.5rem);
}

.merge-disabled {
    pointer-events: none;
    opacity: 0%;
}

.diag-entry {
    min-width: 32rem;
    margin-bottom: 0.5rem;
}

.diag-severity {
    display: inline-block;
    font-size: 0.75rem;
    margin-right: 0.5rem;
    width: 1.25em;
    border: 2px solid currentColor;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}

.s0 {
    color: #BBB
}

.s1 {
    color: #DB0;
}

.s2 {
    color: #B00;
}

.diag-type {
    text-align: left;
    display: inline-block;
    width: 10rem;
    vertical-align: middle;
}

.diag-time {
    text-align: left;
    display: inline-block;
    width: 10rem;
    vertical-align: middle;
}