#popup-background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(var(--color-bg-values), 90%);
    pointer-events: none;
    opacity: 0;
    z-index: 10;
    transition: opacity 250ms ease-in-out;
}


#popup-background.active {
    pointer-events: all;
    opacity: 100%;
}

#popup-container {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    padding:2rem;
    align-items: center;
    background-color: var(--color-bg);
    border: 2px solid var(--color-main);
    border-radius: 0.5rem;
    opacity: 100%;
}

#popup-title {
    font-weight: bold;
    font-size: 1.5rem;
}

#popup-content {
    margin-top: 0.5rem;
    font-size: 1rem;
}

#popup-answer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.popup-button{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size:1.25rem;
}

.small {
    font-size: 0.75rem;
}

#popup-result {
    display: none;
}

#popup-remember { 
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.merge-container {
    width: 40rem;
    max-height: min(32rem, 80vh);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    column-gap: 4rem;
    row-gap: 2rem;
}

.merge-1 {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-left: 1rem;
    height: 4rem;
}

.merge-2 {
    font-size: 1rem;
    margin-left: 1rem;
}

.merge-label {
    display: inline-block;
    width: calc(4em + 2rem);
}