#toast-container {
    position: absolute;
    top: 10vh;
    left: 75vw;
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: end;
    width: 20vw;
    height: 75vh;
    pointer-events: none;
    user-select: none;
}

.toast {
    position:relative;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-main);
    border-radius: 2px;
    padding: 0.25rem;
    margin-top: 0.5rem;
    pointer-events: all;
    z-index: 5000;
    cursor: pointer;
}

.toast-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.toast-content {
    font-size: 1rem;
}

.alert {
    background-color: #B33;
}

.warning {
    background-color: #BA2;
    color: #000;
}

.success {
    background-color: #2B2;
}

.info {
    background-color: #888;
}